<div>
    <div class="player-profile-icon-wrap">
        <img src="/assets/images/{{from}}.jpg"/> 
    </div>
    
    <div>
       <b>{{from}}</b> 
       {{#if new}}<span class="label label-success">New</span>{{/if}} <span class="badge">2d</span>    
       <p>{{message}}</p>
    </div>
        
    <div class="pull-right">
    <a href="#">Reply</a> | <a href="#">Quote</a> | <a href="#">Report</a>
    </div>
    
    <div class="clearfix" />
    
    <hr/>
</div>