<table class="table table-striped">
<thead>
<th>Date</th>
<th>Description</th>
<th>Severity</th>
</thead>
{{#each damage as |dmg|}}
<tr>
<td>{{dmg.date}}</td>
<td>{{dmg.description}}</td>
<td><div class="ansi">{{dmg.severity}}</div></td>
</tr>
{{/each}}
</table>