<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

   {{#if false}}
   {{else}}
     <ul class="nav navbar-nav navbar-right">
           
           {{#if true}}
               <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         
                         Welcome, Faraday <span class="badge important">5</span> <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                           <li><LinkTo @route="notifications"><span class="fa fa-bell-o"></span> Notifications <span class="badge">1</span></LinkTo></li>
                           <li><LinkTo @route="player" @model={{1}}><span class="fa fa-cogs"></span> Account</LinkTo></li>
                           <li><LinkTo @route="chargen"><span class="fa fa-user"></span> Create Character</LinkTo></li>
                           <li role="separator" class="divider"></li>
                           <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
                         </ul>
                       </li>
           {{else}}
               <li><LinkTo @route="login"><span class="fa fa-sign-in"></span> Login</LinkTo></li>
            {{/if}}
                        
            <li><LinkTo @route="play">Play</LinkTo></li>
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Scenes <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="running-scenes">Running Scenes</LinkTo></li>
                        <li><LinkTo @route="scenes">Completed Scenes</LinkTo></li>
                      </ul>
                    </li>
            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Directory <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="characters">Characters</LinkTo></li>
                        <li><LinkTo @route="players">Players</LinkTo></li>
                        <li><LinkTo @route="locations">Locations</LinkTo></li>
                        <li role="separator" class="divider"></li>
                        <li><b>FS3</b></li>
                        <li><LinkTo @route="skills">Skills</LinkTo></li>
                        <li><LinkTo @route="weapons">Weapons</LinkTo></li>
                        <li><LinkTo @route="armor">Armor</LinkTo></li>
                        <li><LinkTo @route="vehicles">Vehicles</LinkTo></li>
                      </ul>
                    </li>
                    
                    
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Community <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="who">Who's Online</LinkTo></li>
                        <li><LinkTo @route="wiki">Wiki</LinkTo></li>
                        <li><LinkTo @route="events">Events</LinkTo></li>
                        <li><LinkTo @route="forum">Forum</LinkTo></li>
                      </ul>
                    </li>

            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Help <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="support">Support</LinkTo></li>
                        <li><LinkTo @route="tutorials">Tutorials</LinkTo></li>
                        <li><LinkTo @route="admin">Admin</LinkTo></li>
                      </ul>
                    </li>
            
            
         </ul>
    {{/if}}
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>