 <div class="sidebar">

    <div>
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
         <span class="input-group-btn">
           <button class="btn btn-secondary" type="button">Go!</button>
         </span>
       </div>
    </div>
 
    <ul class="list-unstyled">
    <li>{{#link-to "who"}}2 players {{/link-to}} online</li>
    <li>Today is 12 March 2237</li>
    </ul>
 
    <h2>Notifications</h2>
    <ul class="list-unstyled">
    <li>New activity in {{#link-to "scene"}}Welcome Aboard{{/link-to}}. </li>
    <li>Barnacles mentioned you in {{#link-to "forum"}}Furious Debate{{/link-to}}. </li>
    </ul>
    
     <h2>Upcoming Events</h2>
     <ul class="list-unstyled">
     <li>{{#link-to "events"}}Something Fun 4/28/17 @ 8pm EST{{/link-to}}</li>
     </ul>
     
     <h2>Recent Scenes</h2>
     <ul class="list-unstyled">
     <li>{{#link-to "scene"}}Welcome Aboard{{/link-to}}</li>
     </ul>

     <h2>Recent Wiki Changes</h2>
     <ul class="list-unstyled">
     <li>{{#link-to "wiki-category" 1}}Setting{{/link-to}}</li>
     <li>{{#link-to "wiki-category" 2}}Policies{{/link-to}}</li>
     </ul>
      
     <h2>Recent Forum Posts</h2>
     <ul class="list-unstyled">
     <li>{{#link-to "forum"}}Best Game Ever{{/link-to}}</li>
     <li>{{#link-to "forum"}}Furious Debate{{/link-to}}</li>
     </ul>
 </div>
