<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

   {{#if false}}
   {{else}}
     <ul class="nav navbar-nav navbar-right">
           
           {{#if true}}
               <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         
                         Welcome, Faraday <span class="badge important">5</span> <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                           <li>{{#link-to "notifications"}}<span class="fa fa-bell-o"></span> Notifications <span class="badge">1</span>{{/link-to}}</li>
                           <li>{{#link-to "player" 1}}<span class="fa fa-cogs"></span> Account{{/link-to}}</li>
                           <li>{{#link-to "chargen"}}<span class="fa fa-user"></span> Create Character{{/link-to}}</li>
                           <li role="separator" class="divider"></li>
                           <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
                         </ul>
                       </li>
           {{else}}
               <li>{{#link-to "login"}}<span class="fa fa-sign-in"></span> Login{{/link-to}}</li>
            {{/if}}
                        
            <li>{{#link-to "play"}}Play{{/link-to}}</li>
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Scenes <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "running-scenes"}}Running Scenes{{/link-to}}</li>
                        <li>{{#link-to "scenes"}}Completed Scenes{{/link-to}}</li>
                      </ul>
                    </li>
            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Directory <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "characters"}}Characters{{/link-to}}</li>
                        <li>{{#link-to "players"}}Players{{/link-to}}</li>
                        <li>{{#link-to "locations"}}Locations{{/link-to}}</li>
                        <li role="separator" class="divider"></li>
                        <li><b>FS3</b></li>
                        <li>{{#link-to "skills"}}Skills{{/link-to}}</li>
                        <li>{{#link-to "weapons"}}Weapons{{/link-to}}</li>
                        <li>{{#link-to "armor"}}Armor{{/link-to}}</li>
                        <li>{{#link-to "vehicles"}}Vehicles{{/link-to}}</li>
                      </ul>
                    </li>
                    
                    
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Community <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "who"}}Who's Online{{/link-to}}</li>
                        <li>{{#link-to "wiki"}}Wiki{{/link-to}}</li>
                        <li>{{#link-to "events"}}Events{{/link-to}}</li>
                        <li>{{#link-to "forum"}}Forum{{/link-to}}</li>
                      </ul>
                    </li>

            
            
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Help <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "support"}}Support{{/link-to}}</li>
                        <li>{{#link-to "tutorials"}}Tutorials{{/link-to}}</li>
                        <li>{{#link-to "admin"}}Admin{{/link-to}}</li>
                      </ul>
                    </li>
            
            
         </ul>
    {{/if}}
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>