 <div class="sidebar">

    <div>
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
         <span class="input-group-btn">
           <button class="btn btn-secondary" type="button">Go!</button>
         </span>
       </div>
    </div>
 
    <ul class="list-unstyled">
    <li><LinkTo @route="who">2 players </LinkTo> online</li>
    <li>Today is 12 March 2237</li>
    </ul>
 
    <h2>Notifications</h2>
    <ul class="list-unstyled">
    <li>New activity in <LinkTo @route="scene">Welcome Aboard</LinkTo>. </li>
    <li>Barnacles mentioned you in <LinkTo @route="forum-topic" @model={{1}}>Furious Debate</LinkTo>. </li>
    </ul>
    
     <h2>Upcoming Events</h2>
     <ul class="list-unstyled">
     <li><LinkTo @route="events">Something Fun 4/28/17 @ 8pm EST</LinkTo></li>
     </ul>
     
     <h2>Recent Scenes</h2>
     <ul class="list-unstyled">
     <li><LinkTo @route="scene">Welcome Aboard</LinkTo></li>
     </ul>

     <h2>Recent Wiki Changes</h2>
     <ul class="list-unstyled">
     <li><LinkTo @route="wiki-category" @model={{1}}>Setting</LinkTo></li>
     <li><LinkTo @route="wiki-category" @model={{2}}>Policies</LinkTo></li>
     </ul>
      
     <h2>Recent Forum Posts</h2>
     <ul class="list-unstyled">
     <li><LinkTo @route="forum-topic" @model={{2}}>Best Game Ever</LinkTo></li>
     <li><LinkTo @route="forum-topic" @model={{1}}>Furious Debate</LinkTo></li>
     </ul>
 </div>
