<div class="location-wrap">
      <div class="location-image-wrap">
         <img src="assets/images/{{@zone}}.jpg" class="location-image">
      </div>

      <h3><LinkTo @route="location">{{@name}}</LinkTo></h3>
     
</div>