<div style="border: 1px solid #eee;padding:10px;margin-top:10px;">


   <div style="font-size: .8em;color: #999">
       <span style="float:right"><a href="/scene">Edit</a> | <a href="/scene">Delete</a></span>
       <img src="/assets/images/{{author}}.jpg" class="forum-profile-icon" /> 
       {{author}}
       <br/>
       2016-03-15 8:34pm
    </div>
    <div class="clearfix" />

    <p style="margin-top: 10px;">
    {{author}} changed the scene location.
    
    {{location-box name=location zone=zone}}
          <div class="clearfix" />

    </p>

    
</div>