<li class="list-group-item">

    <div class="player-profile-icon-wrap">
        <img src="/assets/images/{{icon}}"/> 
    </div>
    
    <div>
       <b>{{from}}</b> 
       {{#if new}}<span class="label label-success">New</span>{{/if}} <span class="badge">2d</span>    
       <p>{{message}}</p>
    </div>
    
    <p><a href="/messages" class="btn btn-default btn-sm">Full Chat</a></p>
    
    <div class="clearfix" />
</li>