<div class="profile-box-wrap">
    <div class="icon-image-wrap">
      <img src="/assets/images/{{@char.profile_image}}"/>
    </div>
      
      <div class="icon-image-caption">
          <span>
          <b>{{@char.name}}</b>
          </span>
      </div>
</div>