       <ul class="nav navbar-nav">    
       <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
                 <span class="btn btn-default" href="#" role="button">Scene Menu <span class="caret"></span></span> </a>
                 <ul class="dropdown-menu">
                 <li><a href="/scene">Add Pose</a></li>
                 <li><a href="/scene">Add Comment</a></li>
                 <li><a href="/scene">Add Scene Set</a></li>
                 <li><a href="/scene">Add Roll</a></li>
               	 <li><a href="/scene">Move Location</a></li>
                 
                 <li role="separator" class="divider"></li>
                 
               	 <li><a href="/scene">Join as NPC/Storyteller</a></li>
                 <li><a href="/scene">Add Character</a></li>
                 <li><a href="/scene">Remove Character</a></li>
                 
                 <li role="separator" class="divider"></li>
                 
                 <li><a href="/scene">End Scene</a></li>
                 <li><a href="/scene">Make Scene Private</a></li>
                 <li><a href="/scene">Delete Scene</a></li> 
               	
                
               	
                 </ul>
               </li>
       </ul>
       