<div class="wiki-category-wrap">
      <p><span class="fa fa-{{category.icon}} fa-4x"></span></p>

      <h3>{{#link-to "wiki-category" category.id}}{{category.title}}{{/link-to}}</h3>
      
      <p>{{category.description}}</p>
</div>