<div class="row">
 <div class="col col-md-12">
      
     <h1>Armor</h1>
     
     <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>Armor Type</th>
         <th>Description</th>
       </tr>
     </thead>
     <tbody>
     <tr><td>Tactical</td> <td>Armored vest.</td></tr>
     <tr><td>Centurion</td> <td>Tough robot armor.</td></tr>
     </tbody>
     </table>
     
          Coming Soon: Imagine more stats here.
          
  </div>
</div>

{{outlet}}
