<div class="row">
 <div class="col col-md-12">
      
     <h1>Cast of Characters</h1>
     
     
     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#navy" aria-controls="navy" role="tab" data-toggle="tab">Navy</a></li>
       <li role="presentation"><a href="#marines" aria-controls="marines" role="tab" data-toggle="tab">Marines</a></li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="navy">
           <div class="panel panel-default">
             <div class="panel-body">
                <div>Blurb about the Navy faction</div>

                {{#each model as |char|}}
                   {{#link-to "character" char.id}}{{profile-box char=char}}{{/link-to}}
                {{/each}}
                <div class="clearfix" />
                
             </div>
           </div>
          </div>
           
           <div role="tabpanel" class="tab-pane" id="marines">
               <div class="panel panel-default">
                 <div class="panel-body">
                  Each faction would have different characters obviously.
                 </div>
               </div>
             </div>
       </div>
       
        
    <div class="button-row">
       {{#link-to "chargen"}}<span class="btn btn-default" href="#" role="button">Create New Character</span>{{/link-to}}
    </div>
    
  </div>
</div>

{{outlet}}
