<div class="row">
 <div class="col col-md-12">
      
     <h1>Edit Character</h1>
     
     <h2>Demographics</h2>
     
     <form class="form">
       <div class="form-group">
       <label for="name">Name (first and last):</label>
         <input type="text" id="name" class="form-control" value="{{model.name}}">
         
         <label for="age">Age:</label>
           <input type="text" id="age" class="form-control" value="{{model.age}}">
       </div>       
     </form>
     
     <h2>Background</h2>
     
      <textarea class="form-control" rows="20" id="background"></textarea>
      
      <h2>RP Hooks</h2>
     
       <textarea class="form-control" rows="20" id="hooks"></textarea>
       
      <h2>Notes</h2>
     
       <textarea class="form-control" rows="20" id="notes"></textarea>
     
     <p>TODO: Other editable fields and XP spending.</p>

     <div class="button-row">

         {{#link-to "character" model.id}}<span class="btn btn-default" href="#" role="button">Save</span>{{/link-to}}

     </div>
     
  </div>
</div>

    
{{outlet}}
