<div class="row">
 <div class="col col-md-12">
      
     <h1>Events</h1>
     
     <ul class="list-group">
      <li class="list-group-item"><a href="/events">Something Fun</a> - 4/28/17 @ 8pm EST</li>
      <li class="list-group-item"><a href="/events">Something Else</a> - 5/4/17 @ 8pm EST</li>
     </ul>
     
     <div class="button-row">
        <span class="btn btn-default" href="#" role="button">Create Event</span>
     </div>
     
  </div>
</div>

{{outlet}}
