<div class="row">
 <div class="col col-md-12">
      
     <h1>Introduction</h1>
     
     <p>Coming Soon: What is a MUSH, how to play, blah blah blah.</p>
     
     <div class="button-row">
 
         {{#link-to "signup"}}<span class="btn btn-default" href="#" role="button">Sign Up</span>{{/link-to}}
     
     </div>
     
  </div>
</div>

{{outlet}}
