<div class="row">
 <div class="col col-md-12">
      
     <h1>Location Name</h1>
     
     <img src="assets/images/galactica.jpg" class="location-image" />
     
     <p><b>Zone:</b> Some zone</p>
     
     <h2>Description</h2>
     <p>Here is a description of the location.</p>
     
     <h2>Scenes</h2>
     <p>List of scenes in this zone.</p>
     
     <div class="button-row">
 
         <span class="btn btn-default" href="#" role="button">Edit</span>
     
     </div>
     
  </div>
</div>

{{outlet}}
