<div class="row">
 <div class="col col-md-12">
      
     <h1>Messages</h1>
     
     <ul class="list-group">
      
      <MessageListBox @from="Barnacles" @icon="Barnacles.jpg" @new="true" @message="Some message." />
      <MessageListBox @from="Faraday" @icon="Faraday.jpg" @message="Don't ask why I'm talking to myself." />
      
     </ul>
     
  </div>
</div>

{{outlet}}
