<div class="row">
 <div class="col col-md-12">
      
     <h1>Notifications</h1>
     
     <ul class="list-group">
      <li class="list-group-item">New activity in scene X. <span class="badge">1d</span> <span class="label label-success">New</span></li>
      <li class="list-group-item">Thenomain mentioned you in topic Y. <span class="badge">2d</span></li>
     </ul>
     
  </div>
</div>

{{outlet}}
