<div class="row">
 <div class="col col-md-12">
      
     <h1>Players</h1>
     
    {{#each model as |char|}}
       <LinkTo @route="player" @model={{char.id}}><ProfileBox @char={{char}} /></LinkTo>
    {{/each}}
    <div class="clearfix" />
                    
  </div>
</div>

{{outlet}}
