<div class="row">
 <div class="col col-md-12">
      
     <h1>Running Scenes</h1>
     
     <p>These scenes are still in progress.  Public ones may be joined by anyone.</p>
     
     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#yours" aria-controls="yours" role="tab" data-toggle="tab">Yours</a></li>
       <li role="presentation"><a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public</a></li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="yours">
           <div class="panel panel-default">
             <div class="panel-body">
                <LinkTo @route="scene">Welcome Aboard</LinkTo>
             </div>
           </div>
          </div>
           
           <div role="tabpanel" class="tab-pane" id="public">
               <div class="panel panel-default">
                 <div class="panel-body">
                  Coming Soon: Open public scenes would be listed here.
                 </div>
               </div>
             </div>
       </div>
       
        
    <div class="button-row">
       <LinkTo @route="create-scene"><span class="btn btn-default" href="#" role="button">Start New Scene</span></LinkTo>
    </div>
    
  </div>
</div>

{{outlet}}
