<div class="row">
 <div class="col col-md-12">
      
     <h1>Completed Scenes</h1>
                  
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#s1" aria-controls="s1" role="tab" data-toggle="tab">Season 1: Signs and Portents</a></li>
          <li role="presentation"><a href="#s2" aria-controls="s2" role="tab" data-toggle="tab">Season 2: Coming of Shadows</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="s1">
              <div class="panel panel-default">
                <div class="panel-body">
                   Coming Soon: Season 1 completed scenes go here
                </div>
              </div>
             </div>
           
              <div role="tabpanel" class="tab-pane" id="s2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Coming Soon: Season 2 completed scenes go here
                     </div>
                  </div>
                </div>
          </div>
        
  
    <div class="button-row">
       {{#link-to "create-scene"}}<span class="btn btn-primary" href="#" role="button">Start New Scene</span>{{/link-to}}
       {{#link-to "running-scenes"}}<span class="btn btn-default" href="#" role="button">View Running Scenes</span>{{/link-to}}
    </div>
    
  </div>
</div>

{{outlet}}
