<div class="row">
 <div class="col col-md-12">
      
      <h1>FS3 Skills List</h1>

      <b>Quick Links</b>
      <ul>
      <li><a href="/skills#attributes">Attributes</a></li>
      <li><a href="/skills#action-skills">Action Skills</a></li>
      <li><a href="/skills#background-skills">Background Skills</a></li>
      <li><a href="/skills#languages">Languages</a></li>
      </ul>
      
      <a name="attributes" />
     <h2>Attributes</h2>
     
     <p>Attributes represent basic abilities that everyone has to some extent. Attributes can be used when no skill directly applies. They can also boost related skills.  Attributes are rated 1-5.</p>
     
     
     <h3>Ratings</h3>
     
     <table class="table table-bordered table-striped">
     <tbody>
     <tr>
     <td>1</td><td>Poor</td><td>You are below average. (less than 40th percentile)</td>
     </tr>
     <tr>
     <td>2</td><td>Average</td><td>You are about average. (40-60th percentile)</td>
     </tr>
     <tr>
     <td>3</td><td>Good</td><td>You’re better than average. (60-75th percentile)</td>
     </tr>
     <tr>
     <td>4</td><td>Great</td><td>You are considerably above average. (75-90th percentile)</td>
     </tr>
     <tr>
     <td>5</td><td>Exceptional</td><td>You’re truly remarkable. (more than 90th percentile)</td>
     </tr>
     </tbody>
     </table>
     
     <h3>Attribute List</h3>
     
     <table class="table table-bordered table-striped">
       <thead>
         <tr>
           <th>Attribute</th>
           <th>Description</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Reflexes</td>
           <td>Reflexes, dexterity, and hand-eye coordination.</td>
         </tr>
         <tr>
           <td>Brawn</td>
           <td>Physical strength and toughness.</td>
         </tr>
         <tr>
           <td>Wits</td>
           <td>Practical intelligence, inventiveness and creativity.</td>
         </tr>
         <tr>
           <td>Grit</td>
           <td>Willpower and determination.</td>
         </tr>
         <tr>
           <td>Perception</td>
           <td>Senses and general awareness.</td>
         </tr>
         <tr>
           <td>Presence</td>
           <td>Charisma and beauty.</td>
         </tr>
       </tbody>
     </table>
        
    <a name="action-skills"/>
      
     <h2>Action Skills</h2>
     
     <p>Action Skills represent your training/knowledge in areas that are likely to come up in action/conflict situations during the game.  Action Skills are rated from 0 to 8 based on your training and experience.  If the ratings here aren't clear enough for you, you can get some more guidance from the <a href="http://aresmush.com/fs3/fs3-3/detailed-ratings/">Detailed Skill Rating Examples</a>.</p>
     

     <h3>Ratings</h3>
     
     <table class="table table-bordered table-striped">
     <tbody>
     <tr>
     <td>0</td><td>Unskilled</td><td>You lack even basic capabilities in this area.</td>
     </tr>
     <tr>
     <td>1</td><td>Everyman</td><td>You know what the average inhabitant of the game world would know.  What tasks you can even conceivably attempt with Everyman will vary from skill to skill.</td>
     </tr>
     <tr>
     <td>2</td><td>Amateur</td><td>You've still got a lot to learn, but you can handle easy stuff</td>
     </tr>
     <tr>
     <td>3</td><td>Fair</td><td>You have competence at a junior-professional level, but lack finesse or experience.</td>
     </tr>
     <tr>
     <td>4</td><td>Good</td><td>You are thoroughly competent at a general professional level.</td>
     </tr>
     <tr>
     <td>5</td><td>Great</td><td>You understand nuances and shortcuts, and can handle even challenging situations with ease.</td>
     </tr>
     <tr>
     <td>6</td><td>Expert</td><td>You are an expert, and can pull through even in dire circumstances.</td>
     </tr>
     <tr>
     <td>7</td><td>Elite</td><td>You have mastered your field and few can compare. Example: an All Star athlete or world-renowned scientist.</td>
     </tr>
     <tr>
     <td>8</td><td>Legendary</td><td>You are one of the best that’s ever lived. Example: Einstein or Beethoven.</td>
     </tr>
     </tbody>
     </table>
     
     <p>A few tips for selecting Action Skills:</p>

     <ul>
     <li>Fair/Good/Great are professional skill levels, so most of your job-related skills should be in this range.</li>
     <li>You don't have to be an Expert to succeed in FS3.  Ratings 6+ are exceptional.</li>
     <li>Your skills should generally match your professional experience. While some variation is allowed for talent (or lack thereof), be careful not to stray too far. A brand-new pilot with an Elite piloting skill isn’t going to fly (pun intended).</li>
     <li>The web app does not currently handle specializations.</li>

     </ul>
     
     
     <h3>Skill List</h3>
     
     <table class="table table-bordered table-striped">
       <thead>
         <tr>
           <th>Action Skill</th>
           <th>Linked Attribute</th>
           <th>Description</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Alertness</td>
           <td>Perception</td>
           <td>Noticing things and being aware of your surroundings</td>
         </tr>
         <tr>
           <td>Athletics</td>
           <td>Brawn</td>
           <td>General running, jumping, climbing, etc.</td>
         </tr>
         <tr>
           <td>Composure</td>
           <td>Grit</td>
           <td>Coolness under pressure.</td>
         </tr>
         <tr>
           <td>Demolitions</td>
           <td>Wits</td>
           <td>Blowing stuff up.</td>
         </tr>
         <tr>
           <td>Firearms</td>
           <td>Reflexes</td>
           <td>Shooting guns.</td>
         </tr>
         <tr>
           <td>Gunnery</td>
           <td>Reflexes</td>
           <td>Vehicle and heavy weapons.</td>
         </tr>
         <tr>
           <td>Medicine</td>
           <td>Wits</td>
           <td>Tending to the ill and injured.</td>
         </tr>
         <tr>
           <td>Melee</td>
           <td>Brawn</td>
           <td>Fighting with fists, knives, and hand-to-hand weapons.</td>
         </tr>
         <tr>
           <td>Piloting</td>
           <td>Reflexes</td>
           <td>Flying air and spacecraft.</td>
         </tr>
         <tr>
           <td>Stealth</td>
           <td>Reflexes</td>
           <td>Being sneaky.</td>
         </tr>
         <tr>
           <td>Technician</td>
           <td>Wits</td>
           <td>General mechanics/electronics and fixing things.</td>
         </tr>
       </tbody>
     </table>
     
           <a name="background-skills" />
     <h2>Background Skills</h2>
     
<p>Background Skills are free-form, so there is no specific list. You can pick anything from Singing to Underwater Basketweaving.  Background Skills are rated differently than Action Skills in a more descriptive fashion:</p>

<h3>Background Skill Ratings</h3>

<ul>
<li>Interest - A casual hobby or interest. Rolled as rating 2.</li>
<li>Proficiency - A profession or very serious hobby. Rolled as rating 4.</li>
<li>Expertise - An area of significant knowledge or expertise. Rolled as rating 6.</li>
<li>You are assumed to have the equivalent of Everyman rating in any Background Skill not listed on your character sheet. Don’t feel obliged to list every single thing your character has ever done - focus on the things that are important to you.
</li>
</ul>

    <h3>Sample Background Skills</h3>
    
     <ul>
       <li>A <strong>science</strong> - astronomy, biology, chemistry, geology, mathematics, physics, etc.</li>
       <li>A <strong>humanity</strong> - history, literature, psychology, philosophy, poetry, etc.</li>
       <li>A <strong>profession or trade</strong> - cook, waitress, bartender, accountant, programmer, carpenter, brewer, blacksmith, etc.</li>
       <li>A <strong>game</strong> - chess, roleplaying, poker, etc.</li>
       <li>An <strong>art</strong> - sculpting, painting, sketching, photography, etc.</li>
       <li>A <strong>form of expression</strong> - acting, singing, dancing, playing an instrument, writing, etc.</li>
       <li>A <strong>sport</strong> - baseball, football, gymnastics, etc.</li>
       <li>A <strong>craft or hobby</strong> - gardening, basketweaving, knitting, etc.</li>
       <li>An <strong>unusual interest</strong> - detective novels, game show hosts, etc.</li>
     </ul>

      <a name="languages" />
     <h2>Languages</h2>
     
     <p>Languages represent the languages that your character can speak and/or read.  Like Background Skills, Language Skills in a more descriptive fashion:</p>

     <ul>
     <li>Beginner - You know tourist-level common phrases like “my name is” and “where’s the bathroom”. Rolled as rating 2.</li>
     <li>Conversational - You can get by, but your phrasing is sometimes awkward and your vocabulary incomplete. Rolled as rating 4.</li>
     <li>Fluent - You are fully fluent in the language. Rolled as rating 6.</li>
     </ul>
     
     <h3>Language List</h3>
     
     <ul>
     <li>Standard</li>
     <li>Leonese</li>
     <li>Gemenese</li>
     </ul>
     
     
  </div>
</div>

{{outlet}}
