<div class="row">
 <div class="col col-md-12">
      
     <h1>Vehicles</h1>
          
     <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>Vehicle Type</th>
         <th>Description</th>
       </tr>
     </thead>
     <tbody>
     <tr><td>Viper</td> <td>Colonial fighter.</td></tr>
     <tr><td>Raider</td> <td>Cylon figther.</td></tr>
     </tbody>
     </table>
     
          Coming Soon: Add other stats
  </div>
</div>

{{outlet}}
