<div class="row">
 <div class="col col-md-12">
      
     <h1>Weapons</h1>
          
     <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>Weapon Type</th>
         <th>Description</th>
       </tr>
     </thead>
     <tbody>
     <tr><td>Rifle</td> <td>Standard assault rifle.</td></tr>
     <tr><td>LMG</td> <td>Light machinegun.</td></tr>
     </tbody>
     </table>   
     
     Coming Soon: Add other stats  
  </div>
</div>

{{outlet}}
