<div class="row">
 <div class="col col-md-12">
      
     <h1>Who's Online</h1>
     
     <ul class="list-group">
      <li class="list-group-item">
         <img src="/assets/images/Faraday.jpg" class="player-profile-icon-wrap" /> <LinkTo @route="player" @model={{1}}>Faraday</LinkTo> <span class="clearfix" /> </li>
      <li class="list-group-item">
         <img src="/assets/images/Barnacles.jpg" class="player-profile-icon-wrap" /> <LinkTo @route="player" @model={{2}}>Barnacles</LinkTo> <span class="clearfix" /> </li>
     </ul>
     
  </div>
</div>

{{outlet}}
